<div class="container-fluid">
    <h2>Valentin Ferrero</h2>
    <div>
        <img src="../../../assets/profile.jpg" alt="Photo of a Shiba Inu">
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <mat-card>
                <h3>Sobre mi</h3>
                <p>
                    Me llamo Valentin Ferrero, tengo 23 años, soy oriundo de General Villegas y en 2019 me mude a Capital Federal para
                    estudiar la carrera de Arquitectura.
                </p>
                <p>A principios de 2021 y con la pandemia de por medio, decidi dejar la carrera
                    para cambiar de rumbo y estudiar Programacion. 
                    A medidados del mismo año me anote a la carrera en la UTN, actualmente estoy
                    cursando mis ultimas dos materias, LABO IV y PPS.
                </p>
                <p>
                    Desde hace mas de 2 años arranque con mi primer experiencia laboral en la programacion. Hoy en dia sigo en la misma
                    empresa, soy Desarrollador de ETL Junior y tambien trabajo con SQL Developer y Informatica Powercenter.
                </p>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card >
                <h3>Juego propio</h3>
                <p>  
                    Para el juego propio elegi un juego de ingenio llamado 
                    'Juego del 15' de Ruibal. Es una matriz de 4x4, compuesta 
                    por 15 fichas con numeros del 1 al 15 y un espacio vacio 
                    que permite ir moviendo las fichas una a una.
                </p>
                <p>
                    El objetivo es ordenar los numeros de menor a mayor, desde 
                    la esquina superior derecha hacia la esquina inferior 
                    derecha, que debe quedar vacia. El juego comienza con los 
                    numeros ordenados al azar, el jugador debe ir moviendo 
                    las fichas una a una para lograr ordenar los numeros.</p>
                <p>
                    Adicionalmente se puede tomar el tiempo de cada intento 
                    para armar una tabla de tiempos con los rendimientos de los 
                    o el jugador.
                </p>
                <a href="https://ruibalgames.com/juego-del-15/" target="_blank"><h6>Link al juego original</h6></a>
            </mat-card>
        </div>
    </div>
</div>