<div class="container-flex" id="pagina">
    <div class="row">
        <div class="carta col">
            <mat-card>
                <img src="https://cardscans.piwigo.com/_datas/q/c/d/qcdbhi9scq/i/uploads/q/c/d/qcdbhi9scq//2021/10/15/20211015024058-f7485123-me.jpg" alt="">
            </mat-card>
        </div>
        <div class="botones col">
            <button mat-fab extended>
                <mat-icon>arrow_upward</mat-icon>
                Mayor
            </button>
            <button mat-fab extended>
                <mat-icon>arrow_downward</mat-icon>
                Menor
            </button>
        </div>
    </div>
</div>